.card{
  border:none !important;
}

.body{
  background-color: grey;
  height: 150vh;
}

.Logo{
  max-width: 300px;
  padding-right: 1rem;
}

.CarritoLogo{
  max-width: 50px;
}

.StyleImg{
  max-width: 20rem;
  max-height: 27rem;
}

.producto{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ItemStyleContainer{
  border: solid 5px red;
}

.ItemStyleImg{
  max-width: 200px;
}

a{ 
  text-decoration: none !important; 
}

.link{
  color: black !important;
  font-weight: 600;
}

.link:hover{
  background-color: goldenrod;
}

.myCard{
  width: 20rem;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 5px 5px 4px rgba(36, 36, 36, 0.8);
}

.CardTitle{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.CardPrice{
  font-size: 1.5rem;
}

.CardMore{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.CardTotal{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

section{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.opiniones{
  border: 5px solid red;
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  max-width: 60vh;
}

form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.itemDetail{
  padding: 2rem;
}

.itemDetailImg{
  float: left;
  margin-right: 3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.itemDetailText{
  padding: 0rem;
}

.itemDetailNombre{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  background-color: gold;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 0rem;
}

.itemDetailPrecio{
  font-weight: 600;
  font-size: 2rem;
  background-color: white;
  margin-bottom: 0rem;
  padding: 1rem;
}

.itemDetailStock{
  font-weight: 600;
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  margin-bottom: 0rem;
  padding: 1rem;
}

.itemDetailContador{
  padding: 1rem;
  align-items: center;
  background-color: lightgoldenrodyellow;
  margin-left: none;
  display: flex;
}


.CountBtn{
  width: 5rem;
  height: 3rem;
  background-color: gold;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: none;
}

.CountCantidad{
  font-weight: 600;
  font-size: 1.5rem; 
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 0rem;
}

.IteamDetailBtn{
  width: 10rem;
  height: 3rem;
  background-color: gold;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3rem;
  border: none;
  margin: 1rem;
}

.itemDetailInfo{
  background-color: white;
  margin-bottom: 0rem;
  font-size: 2rem;
  padding: 1rem;
}

.VolverBtnContainer{
  background-color: gold;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.VolverBtn{
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  background-color: transparent;
  border: none;
}