.card{
  border:none !important;
}

.body{
  background-color: grey;
  height: 150vh;
}

.Logo{
  max-width: 300px;
}

.CarritoLogo{
  max-width: 50px;
}

.StyleImg{
  max-width: 20rem;
  max-height: 27rem;
}

.producto{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ItemStyleContainer{
  border: solid 5px red;
}

.ItemStyleImg{
  max-width: 200px;
}

a{ 
  text-decoration: none !important; 
}

.link{
  color: black !important;
  font-weight: 600;
}

.link:hover{
  background-color: goldenrod;
}

.myCard{
  width: 20rem;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 5px 5px 4px rgba(36, 36, 36, 0.8);
}

.CardTitle{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.CardPrice{
  font-size: 1.5rem;
}

.CardAmount{

}

.CardMore{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.CardTotal{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: gold;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}