.body{
  background-color: grey;
  height: 100vh;
}

.Logo{
  max-width: 300px;
}

.CarritoLogo{
  max-width: 50px;
}

.StyleImg{
  max-width: 20rem;
}

.producto{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ItemStyleContainer{
  border: solid 5px red;
}

.ItemStyleImg{
  max-width: 200px;
}

a{ 
  text-decoration: none !important; 
}

.link{
  color: black !important;
  font-weight: 600;
}

.link:hover{
  background-color: goldenrod;
}

.myCard{
  width: 20rem;
  text-align: center;
  margin-top: 2rem;
}

.CardTitle{
  font-weight: 600;
  font-size: 1.5rem;
}

.CardPrice{
  
}

.CardAmount{

}

.CardMore{

}

.CardTotal{
  
}